.Preview {
  position: relative;
  text-align: center;
  width: 50vw;

  img {
    width: 100%;
  }

  .topText {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 10px;
    top: 10px;
  }

  .bottomText {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    left: 10px;
  }
}